@media (max-width: 480px) {
  /* ----------------TOP HOME------------------- */
  .bottom-home{
    margin-left: 0% !important;
    margin-right:0%;
  }
  .tagline {
    font-size: 17px;
    justify-content: center;
    position: absolute;
    top:35%;
    color: #ffffff !important;
    transition: all 1.5s ease-in-out !important;
  }
  .scrolled .tagline{
    opacity: 0;
    font-size: 10px;
    transform: translate(-200px,180px) !important;
    letter-spacing: 0;
    opacity: 0;
    height: 70vh;
  }  
  .headline {
    font-size: 12px;
    position: absolute;
    justify-content: center !important;
    color: #C8A21C !important;
    transition: all 1.5s ease-in-out !important;
  }
  .scrolled .headline{
    opacity: 0;
    transform: translate(-100px,190px) !important;
  }
  /* -----------------Bottom-Home------------------ */
  
  .tagline2{
    font-size: 15px;
    opacity: 0;
    justify-content: center !important;
    position: absolute;
    top: 10% !important;
    color: hsl(0, 0%, 100%) !important;
    transition: all 1.5s ease-in-out !important;
  }
  
  .scrolled .tagline2{
    opacity: 1;
    left: 30%;
    right: auto;
    margin-bottom: 20px !important;
    transform: translate(-58px, -15px); 
    top:10% !important;
  }
  .headline2 {
    font-size: 10px;
    opacity: 0;
    position: absolute;
    justify-content: center !important;
    top: 5% !important;
    color: #C8A21C !important;
    transition: all 1.5s ease-in-out !important;
  }
  .scrolled .headline2{
    opacity: 1;
    left: 35%;
    right: auto;
    top: 11% !important;
    transform: translate(-59px, 15px); 
  }

  .input-bar {
    opacity:  0;
    width: 100% !important;
    transform: translateX(0);
    transition: all 1.2s ease-in-out !important;
  }
  .input-bar .form-control {
    height: auto; 
    font-size: 10px; 
  }
  
  .input-bar .btn {
    height: auto;
    font-size: 10px;
  }
  
  .scrolled .input-bar{
    opacity: 1;
    width: 90% !important;
    top: 15%;
    padding: 0 20px 0 20px;
  }

}