/*------------------- Background CSS -----------------------*/

/* .Tbg-1{
    opacity: 0.2;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}
.scrolled .Tbg-1{
    opacity: 0;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}

.bg-1{
    opacity: 0;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}
.scrolled .bg-1{
    opacity: 1;
    transform: translate3d(560px,-520px,0);
} */
/*  */
.Tbg-2{
    height: 600px !important;
    opacity: 0.1;
    transform: translate3d(-600px,-300px,0);
    transition: all 1sec ease-in-out !important;
}
.scrolled .Tbg-2{
    opacity: 0;
    transform: translate3d(400px,-300px,0);
}

.bg-2{
    opacity: 0;
    height: 600px !important ;
    transform: translate3d(-600px,-300px,0);
    transition: all 0.5sec ease-in-out;
}
.scrolled .bg-2{
    opacity: 1;
    transform: height(400px);
    transform: translate3d(300px,-290px,0);
}

/* -----------------------Bird Component-------------- */

.Tbird-1{
    opacity: 0.5;
    width: 100px;
    height: 40px;
    transform: translate3d(-300px, -200px, 0) !important;
    transition: all 1.5s ease-in-out;
}
.scrolled .Tbird-1 {
    opacity: 0;
    transform: translate3d(170px,-180px,0) !important;
}

.bird-1{
    opacity: 0;
    transform: translate3d(-550px, -325px, 0) !important;
    transition: all 1.5s ease-in-out;
}

.scrolled .bird-1{
    opacity: 1;
    width: 80px;
    height: 30px;
    transform: translate3d(400px,-180px,0) !important;
} 

.Tbird-2{
    opacity: 0.5;
    width: 100px;
    height: 40px;
    transform: translate3d(-200px, 120px, 0);
    transition: 1.5s ease-in-out;
}
.scrolled .Tbird-2{
    opacity: 0;
    width: 100px;
    height: 40px;
    transform: translate3d(450px, -250px, 0);
}

.bird-2{
    opacity: 0;
    transform: translate3d(-200px, 72px, 0);
    transition: 1.5s ease-in-out;
}
.scrolled .bird-2{
    opacity: 1;
    width: 80px;
    height: 30px;
    transform: translate3d(675px, -100px, 0);
}

/* ------------------Cloud CSS------------------- */

/* Line 42 */

/* box-sizing: border-box;

position: absolute;
width: 366.72px;
height: 0px;
left: 572px;
top: 1632px;

background: #6CBFC4;
border: 5px solid #6CBFC4;
transform: matrix(0.97, 0.24, 0.24, -0.97, 0, 0); */


.Tcloud-1{
    opacity: 0.5;
    width: 100px;
    height: 40px;
    transform: translate3d(-400px,-256px,0) !important;
    transition: all 1.5s ease-in-out !important;
}

.scrolled .Tcloud-1{
    opacity: 0;
    transform: translate3d(150px, -750px,0);
}
.cloud-1{
    opacity: 0;
    width: 100px;
    height: 40px;
    transform: translate3d(-400px,-475px,0);
    transition: all 1.5s ease-in-out !important;
}
.scrolled .cloud-1{
    opacity: 1;
    width: 100px;
    height: 40px;
    transform: translate3d(300px, -250px,0);
}

.Tcloud-2{
    opacity: 0.5;
    width: 170px;
    height: 60px;
    transform: translate3d(-200px,-150px,0);
    transition: all 1.5s ease-in-out !important;
}
.scrolled .Tcloud-2{
    opacity: 0;
    width: 100px;
    height: 40px;
    transform: translate3d(450px,-300px,0);
}
.cloud-2{
    opacity: 0.3;
    width: 120px;
    height: 40px;
    transform: translate3d(-150px,-345px,0);
    transition: all 1.5s ease-in-out;
}
.scrolled  .cloud-2{
    opacity: 1;
    width: 120px;
    height: 40px;
    transform: translate3d(50px,-130px,0);
}

.Tcloud-3{
    opacity: 0.5;
    width: 120px;
    height: 40px;
    transform: translate3d(-800px,130px,0);
    transition: all 1.5s ease-in-out !important;
}
.scrolled .Tcloud-3{
    opacity: 0;
    width: 260px;
    height: 40px;
    transform: translate3d(50px,-250px,0);
    
}
.cloud-3{
    opacity: 0;
    width: 260px;
    height: 40px;
    transform: translate3d(-550px,-50px,0);
    transition: all 1.5s ease-in-out;
}
.scrolled .cloud-3{
    opacity: 1;
    width: 260px;
    height: 40px;
    transform: translate3d(270px,-180px,0);
}

/* -------------------Hand CSS ------------------ */

.hand{
    opacity: 0;
    width: 470px;
    height: 400px;
    /* transform: translate3d(0px,100px,0); */
    transition: all 1.5s ease-in-out;
}
.scrolled .hand{
    z-index: 2;
    width: 470px;
    height: 400px;
    opacity: 1;
    transform: translate(85%,-45%);
}

/* -------------------Home CSS ------------------ */

.wall-1{
    position: absolute;
    height: 100px;
    width:150px;
    transform: translate3d(60px,50px,0);
}
.wall-2{
    position: absolute;
    height: 180px;
    width:150px;
    transform: translate3d(160px,-35px,0);
}
.roof-1{
    position: relative;
    height: 140px;
    width:180px;
    transform: translate3d(65px,-65px,0);
}
.roof-2{
    position: relative;
    height: 150px;
    width:80px;
    transform: translate3d(-70px,-75px,0)  !important;
}