/*------------------- Background CSS -----------------------*/

.Tbg-1{
    opacity: 0.5;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}
.scrolled .Tbg-1{
    opacity: 0;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}
.Tbg-2{
    height: 600px !important;
    opacity: 0.5;
    transform: translate3d(-600px,-300px,0);
    transition: all 1sec ease-in-out;
}

.bg-1{
    opacity: 0;
    transform: translate3d(560px,-520px,0);
    transition: all 1sec ease-in-out;
}
.scrolled .bg-1{
    opacity: 1;
    transform: translate3d(560px,-520px,0);
}
.bg-2{
    opacity: 0;
    height: 600px !important ;
    transform: translate3d(-600px,-300px,0);
    transition: all 0.5sec ease-in-out;
}
.scrolled .bg-2{
    opacity: 1;
    transform: height(400px);
    transform: translate3d(300px,-290px,0);
}

/* -----------------------Bird Component-------------- */

.Tbird-1{
    opacity: 0.5;
    transform: translate3d(-550px, -200px, 0) !important;
    transition: all 1.5s ease-in-out;
}
.scrolled .Tbird-1 {
    opacity: 0;
    transform: translate3d(200px,-300px,0);
}

.bird-1{
    opacity: 0;
    transform: translate3d(-550px, -325px, 0) !important;
    transition: all 1.5s ease-in-out;
}

.scrolled .bird-1{
    opacity: 1;
    transform: translate3d(200px,-300px,0) !important;
} 

.Tbird-2{
    transform: translate3d(-200px, 100px, 0);
    transition: 1.5s ease-in-out;
}
.scrolled .Tbird-2{
    opacity: 0;
    transform: translate3d(450px, -250px, 0);
}

.bird-2{
    opacity: 0;
    transform: translate3d(-200px, 72px, 0);
    transition: 1.5s ease-in-out;
}
.scrolled .bird-2{
    opacity: 1;
    transform: translate3d(450px, -250px, 0);
}

/* ------------------Cloud CSS------------------- */
.Tcloud-1{
    opacity: 1;
    transform: translate3d(-300px,-350px,0);
    transition: all 1.5s ease-in-out;
}

.scrolled .Tcloud-1{
    opacity: 0;
    transform: translate3d(150px, -350px,0);
}
.cloud-1{
    opacity: 0;
    transform: translate3d(-300px,-475px,0);
    transition: all 1.5s ease-in-out;
}
.scrolled .cloud-1{
    opacity: 1;
    transform: translate3d(150px, -475px,0);
}

.Tcloud-2{
    opacity: 1;
    transform: translate3d(-150px,-220px,0);
    transition: all 1.5s ease-in-out;
}
.scrolled .Tcloud-2{
    opacity: 0;
    transform: translate3d(400px,-300px,0);
}
.cloud-2{
    opacity: 0;
    transform: translate3d(-150px,-345px,0);
    transition: all 1.5s ease-in-out;
}
.scrolled .cloud-2{
    opacity: 1;
    transform: translate3d(400px,-425px,0);
}

.Tcloud-3{
    opacity: 1;
    transform: translate3d(0,-50px,0);
}

/* -------------------Home CSS ------------------ */

/* ----------Bottom Home */
/* .thome-1{
    opacity: 1;
}
.thome-2{
    opacity: 1;
}
.thome-3{
    opacity: 1;
}
.thome-4{
    opacity: 1;
}
.thome-5{
    opacity: 1;
}
.thome-6{
    opacity: 1;
}
.thome-7{
    opacity: 1;
}
.thome-8{
    opacity: 1;
}
.thome-9{
    opacity: 1;
}
.thome-10{
    opacity: 1;
}
.thome-11{
    opacity: 1;
}
.thome-12{
    opacity: 1;
}
.thome-13{
    opacity: 1;
} */