.blog{
  margin-top: 10%;
}
p{
  line-height: 100%;
}
.insights{
display: flex;
justify-content: center;
align-items: center;
color: white;
margin-top: 50px !important;
font-size: 35px;
height: 52px;
width: auto;

}
.lorem{
display: flex;
justify-content: center;
align-items: center;
color: #3cbcb1;
font-size: 20px;
}
.content{
margin-left: 1rem;
margin-right: 1rem;
color: white;
}
.trending{
background-color:#171717;
display: flex;
justify-content: center;
align-items: center;
height: 80px;
width: 280px;
gap: 30px;
margin-left: 36.3%;
border-radius: 16px;
margin-top: 50px;
font-size: large;
}
.cl{
background-color:#9CA3AF;
color: white !important;
}
.cla{
background-color: #171717;
color: white !important;
}
.cl{
width: 120px; /* Adjust width as needed */
height: 65px; /* Adjust height as needed */
border: 6px solid black; 
border-radius: 16px; /* 50% will create an oval shape */
text-align: center;
line-height: 50px;
background-color: black;
}
.box{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.boxes{
height: 550px;
width: 29%;
padding: 20px 0px 15px;
margin-top: 15px;
background-color: black;
border-radius: 16px;
}
.box-img{
height: 200px;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
border-radius: 16px;
margin-left: auto;
}
.box-content{
color: white;
text-align: left;
}
.box-content h2{
color: #5AA7A0;
text-align: left;
}
.readmore{
color:  #5AA7A0;
}
.readmore:hover{
text-decoration: underline;
cursor: pointer;
}
.fa-solid fa-arrow-right{
color: white;
}
.lorem-text-2{
color: #9CA3AF;
margin-top: 15px;
text-align: left;
}
.date{
color: #9CA3AF;
margin-top: 15px;
display: flex;
align-items: center;
text-align: left;
}
.featured{
margin-left: 10px;
text-decoration: underline;
color: #9CA3AF;
}
.vertical-line{
color: #9CA3AF;
font-size: larger;
margin-left: 10px;
}
.arrow {
position: relative;
display: inline-block;
width: 20px;
height: 20px;
background-color: #ccc;
}

.arrow::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
width: 8px;
height: 8px;
background-color: #5AA7A0;
} 
.eye{
content: '';
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
width: 8px;
height: 8px;
background-color: #5AA7A0; 
}
.fa-solid fa-arrow-right arrow{
height:5px;
width: 10px;
color: #3cbcb1;
}
.designation{
font-size: small;
margin-left: 35px;
}
.short-image{
height: 25px;
width: 25px;
border-radius: 50px;
border: 2px solid black;
/* background-image: url("../blog/images/image1.png"); */
margin-top: 12px;
/* margin-left: -17px; */
}
.box-footer{
display: flex;
align-items: center;
margin-top: 10px;
}
.name{
margin-left: 10px;
margin-top: 10px;
}
/*.hoverline{
width: 28%;
height: 10px;
color: #171717;
border-top: 1px solid #ccc; 
margin-top: 5px; 
}
.hoverline:hover{
color: #3cbcb1;
}*/
hr{

color: #171717;
height: 5px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-left-radius: 28px;
border-bottom-right-radius: 28px;
border-color: #171717;
background-color: #171717;
margin-top: 15px;
}
hr:hover{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.page-bar{
color: aliceblue;
background-color: #171717;
display: flex;
justify-content: center;
align-items: center;
height: 60px;
width: 500px;
margin: auto;
margin-top: 80px;
border-radius: 8.62px;
font-size: larger;
gap: 30px;
}
.previous{
background-color: #171717;
}
.one{
background-color: #171717;
}
.two{
background-color: #171717;
}
.three{
background-color: #171717;
}
.next{
background-color: #171717;
}

.previous:hover{
color: #3cbcb1;
cursor: pointer;
}
.one:hover{
color: #3cbcb1;
cursor: pointer;
}
.two:hover{
color: #3cbcb1;
cursor: pointer;
}
.three:hover{
color: #3cbcb1;
cursor: pointer;
}
.next:hover{
color: #3cbcb1;
cursor: pointer;
}
.categories{
font-size: 25px;
text-align: left;
color: white;
margin-top: 50px;
margin-left: 55px;
}
/* .boxes-part-2{
height: 200px;
width: 28%;
background-color: #3cbcb1;
margin-top: 30px;
margin-left: 30px;
border-radius: 16px;
} */
/*.News{
margin-left: 50px;
font-size: 22px;
font-family: arial;
}*/
.box-two{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.boxes-part-2{
height: 200px;
width: 25%;
margin-left: 5px;
margin-right:5px;
margin-top: 15px;
background-color: #3cbcb1;
border-radius: 16px;
}
.news{
color: white;
}
.box-content-2{
color: white;
padding-top: 20px;
}
.list-footer{
color: white;
}
.footer{
color: white;
}
.bo1:hover .hr1{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.bo2:hover .hr2{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.bo4:hover .hr4{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.bo5:hover .hr5{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.bo6:hover .hr6{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
.bo7:hover .hr7{
color: #3cbcb1;
border-color: #3cbcb1;
background-color: #3cbcb1;
}
/* .nav {
position: relative;
}
.nav-links {
display: flex;
list-style: none;
padding: 0;
}
.nav-links li {
margin-right: 20px;
}

.nav-links a {
color: white;
text-decoration: none;
}

.menu-icon {
display: none;
color: white;
cursor: pointer;
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
}


@media only screen and (max-width: 768px) {
.nav-links {
  display: none;
}

.nav-bar{
padding: 20px 0!important;
}
.menu-icon {
  display: block;
}

.sidenav {
  top: 0;
}
.nav-bar{
width: 100vw!important;
} */
/* .boxes{
width: 100%;
} */

/* .boxes-part-2{
width: 100%;
margin: 0;
} */

/* .page-bar{
width: 100%;
}
.box{
flex-direction: column!important;
padding: 20px!important;
gap: 25px;
}
.box-two{
justify-content: center;
gap: 40px;
flex-direction: column!important;
padding: 18px;
}
.content{
width: 100%!important;
}
.lorem{
margin-top: 2em;
}

*/
.boxdiv{
display: flex;
align-items: center;
justify-content: space-between;
}

.boxdiv2{
display: flex; 
gap: 20px;
flex-direction: row!important;
color: #9CA3AF;
}

.heading{
color: #3cbcb1 !important;
font-size: 18.5px;
margin-top: 12.5px;
text-align: left !important;
}
.column-img{
width: 100%;
height: 500px;
border: 1px solid black;
margin-top: 40px;
margin-left: 2px;
/* margin-bottom: 20px; */
/* background-color: aqua; */
}
.columnbox{
width: 30%;
height: 220px;
float: left;
margin: 5px 15px 20px;
flex-wrap: wrap;

}
.coloumbox img{
border-radius: 10px;
}
.coloumbox a{
margin-right: 10px;
text-decoration: none;
color: rgb(209, 211, 212);
display: flex;
}
footer{
width: 100%;
height: 200px;
gap: 50px;
}
.footerbox{
width: 250px;
float: left;
/* margin: 30px 0px 10px 50px; */
/* background-color: blue; */
}
.footerbox a{
text-decoration: none;
color: rgb(231, 224, 224);
font-size: large;
}
.footericons{
/* border: 1px solid red; */
text-align: center;
padding: 30px;
}
.footericons a{ 
font-size: 30px;
margin: 0px 20px;
color: rgb(218, 214, 214);
}
.footericons a:hover{
color: aquamarine;
}
.footericons a:active{
color: red;
}
.nav {
position: relative;
}

.nav-links {
display: flex;
list-style: none;
padding: 0;
}

.nav-links li {
margin-right: 20px;
}

.nav-links a {
color: white;
text-decoration: none;
}

.menu-icon {
display: none;
color: white;
cursor: pointer;
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
}

.sidenav {
position: fixed;
top: 0;
left: -300px;
width: 250px;
height: 100%;
background-color: black;
z-index: 1000;
transition: all 0.3s ease;
}

.sidenav.active {
left: 0;
}

.sidenav-links {
list-style: none;
padding: 20px;
flex-direction: column;
}

.sidenav-links li {
margin-bottom: 10px;
}

.sidenav-links a {
color: white;
text-decoration: none;
}

@media only screen and (max-width: 768px) {
.nav-links {
display: none;
}

.menu-icon {
display: block;
}

.sidenav {
top: 0;
}
}

.hastag-div{
display: flex;
flex-direction: row;
gap: 20px;

}

.hastag-div h2{
color: rgb(13,138,127);
font-size: 23px;
}

@media screen and (max-width: 768px) {
.hastag-div{
gap: 10px;
}
.hastag-div h2{
font-size: 18px;
}
.coloumbox{
margin: 0!important;
margin-bottom: 21px!important;
}
.footericons{
display: flex;
}
}
.arrow{
margin-left: 5px;
color: #3cbcb1 !important;
}
.Readmore{
color: #3cbcb1;
gap: 20px;
/* margin-top: 10px; */
}
.read{
display: flex;
}
.arrow1 {
margin-left: 170px;
}
.arrow2 {
margin-left: 165px;
}
.arrow3 {
margin-left: 140px;
}
.arrow4 {
margin-left: 180px;
}
.arrow5{
margin-left: 130px;
}
.arrow6{
margin-left: 155px;
}
.block{
color:white;
display: flex;
margin-left:45px;
}
.brand ,.internship-campaigns,.featured1 ,.giveaway, .news,.life-at-tolet, .arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6 {
margin-top: 10px;
}
.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6 {
color: #3cbcb1;
}

h1{
font-family: "Poppins", sans-serif!important;
font-weight: 500!important;
font-style: normal!important;
}

/* div{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
} */