section {
    height: 100vh;
    margin-top: 10%; 
    text-align: left !important ;  
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 255, 255) !important;
    font-family:Poppins;
}

p{
    color: rgb(179, 176, 176);
}
.contact-us{
    text-align: left;
}
.message-img{
    width: 40px;   
}

.text-center{
    text-align: center !important;
}
span{
    color: #83c6c4;
    
    
}
.highlight{
    color: rgb(233, 232, 226);
    font-weight: 100 !important;
   
   
}
.space{
    padding-bottom: 50px;
}
#inputID::placeholder {
    color: #848887;
    opacity: 1;
}
#inputID{
    height: 49px;
    border-radius: 4px;
    background-color:black;
    -webkit-text-fill-color: #848887;
    opacity: 1;
    
}
#message{
    border-radius: 4px;
    background-color:black;
    -webkit-text-fill-color: #848887;
    height: 94px;
}
label{
    align-items: left !important;
    color: #848887 !important;
    padding-bottom: 5px;
    font-size: 20px;  
}
.cls2{
    text-align: center;
    margin: 0;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    background-color: #83c6c4 !important;
}
.buttoncolor{
    color: black;
    text-align: center;
    /* padding-left: 80px; */   
}
.submit{
    width: 100%;
}
