
/* ---------------General Styling------------- */



h1{
    color: white !important;
    font-family: 'Kanit';
    font-weight: 200;
    letter-spacing: 5px;
}
h6{
    color: rgb(2, 151, 146) !important;
    text-transform: capitalize;
    font-family: 'Kanit';
    font-weight: 200;
}
#home{
  width: 100%;
}



/* ----------------Top Home----------------- */
.top-home{
  height: 85vh;
  position: relative;
  /* background-color: rgb(118, 112, 112); */

}
/* 
.img-1{
  display: flex;
  width: 100px;
  height: auto;
  transition: all 0.7s ease-in-out;
  transform: translate3d(900px, -100px, 0);
}

.scrolled .img-1{
  opacity: 0;
  width: 500px;
}

.scrolled .image-container-1 .img-1{
  width: 500px;
  transform: translate3d(620px, -150px, 0);
  border-radius: 100px 200px 40px 100px;
} */

.tagline{
  letter-spacing: 10px;
  padding-top: 20%;
  transition: all 1.5s ease-in-out;
}

.scrolled .tagline{
  transform: translate3d(-300px,0px,0);
}

.headline{
  color: #C8A21C !important;
  transition: all 1.5s ease-in-out;
}

.scrolled .headline{
  transform: translate3d(-300px,0px,0);
}


/* -----------------Bottom-Home------------------ */
.bottom-home{
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: rgb(63, 63, 63); */
}


.tagline2{
  font-size: 2rem;
  padding-top: 20%;
  transition: all 1s ease-in-out;
}

.scrolled .tagline2{
  transform: translate3d(-300px,0px,0);
}

.headline2{
  font-size: 1rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.scrolled .headline2{
  opacity: 1;
  transform: translate3d(-300px,0px,0);
}

.input-bar {
  opacity:  0;
  transform: translateX(80%);
  transition: all 1.2s ease-in-out !important;
  width: 400px;
}

.scrolled .input-bar{
  opacity: 1;
  margin-left: 50px;
  transform: translateX(0);
}

.scrolled .wrap2 {
    overflow: hidden;
    border-right: .15em solid rgb(0, 255, 238); /* Adjust color and size as needed */
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }
  
.btn{
  border-radius: 0 5px 5px 0 !important;
  background-color: #039b73 !important;
}

  /* --------------Animation---------------- */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 255, 238); }
  }
  


@keyframes slideOut {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
  }
}

.scrolled .tagline, .scrolled .headline {
  animation: slideOut 0.8s forwards; /* forwards keeps the last keyframe state */
}
