
/* ---------------General Styling------------- */

.home{
  margin-top: 20%;
}

h1{
    color: white !important;
    font-family: 'Anton';
    font-weight: 200;
    letter-spacing: 5px;
}
h6{
    color: rgb(2, 151, 146) !important;
    text-transform: capitalize;
    font-family: 'Kanit';
    font-weight: 200;
}



/* ----------------Top Home----------------- */
.top-home{
  height: 100vh;
  position: relative;
  text-align: center;

}

.img-1{
  display: flex;
  width: 100px;
  height: auto;
  transition: all 0.7s ease-in-out;
  transform: translate3d(900px, -100px, 0);
}

.scrolled .img-1{
  opacity: 0;
  width: 500px;
}

.scrolled .image-container-1 .img-1{
  width: 500px;
  transform: translate3d(620px, -150px, 0);
  border-radius: 100px 200px 40px 100px;
}

.tagline{
  transition: all 0.7s ease-in-out;
}

.scrolled .tagline{
  opacity: 0;
  transform: translate3d(-300px,0px,0);
}

.headline{
  transition: all 0.7s ease-in-out;
}

.scrolled .headline{
  transform: translate3d(-300px,0px,0);
}

.input {
  transition: opacity 0.8s ease-in-out;
  width: 400px;
}

.hide {
  opacity: 0; 
  pointer-events: none;
}

.show {
  transform: translateX(0px);
  opacity: 1; 
  pointer-events: auto; 
}

/* -----------------Bottom-Home------------------ */
.bottom-home{
  height: 100vh;
  position: relative;
  text-align: center;
}


.img-2{
  display: flex;
  width: 100px;
  height: auto;
  transition: all 0.8s ease-in-out;
  transform: translate3d(900px, -100px, 0);
  opacity: 0;
}

.scrolled .img-2{
  opacity: 1;
  width: 500px;
}

.scrolled .image-container-2 .img-2{
  width: 500px;
  transform: translate3d(620px, -150px, 0);
  background-color: rgb(0, 202, 195);
  border-radius: 100px 200px 40px 100px;
}

.tagline2{
  transition: all 0.8s ease-in-out;
}

.scrolled .tagline2{
  transform: translate3d(-300px,0px,0);
}

.headline2{
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.scrolled .headline2{
  opacity: 1;
  transform: translate3d(-300px,0px,0);
}

.input-bar {
  transition: opacity 0.8s ease-in-out;
  width: 500px;
}

.hide {
  opacity: 0; 
  transform: translateX(-300px);
  pointer-events: none;
}

.show {
  transform: translateX(0px);
  opacity: 1; 
  pointer-events: auto; 
}



.wrap {
    overflow: hidden;
    border-right: .15em solid rgb(0, 255, 238); /* Adjust color and size as needed */
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }
  


  /* --------------Animation---------------- */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 255, 238); }
  }
  


@keyframes slideOut {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
  }
}

.scrolled .tagline, .scrolled .headline {
  animation: slideOut 0.8s forwards; /* forwards keeps the last keyframe state */
}
