.navbar-container{
    background-color: black;
    color: white;
}
.navbar-brand img{
    height: 50px;
    margin-left: 10%;
}
.nav-link{
    color: white !important;
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px !important;
}
.nav-link.active{
    background-color: #6cc0c4;
    border-radius: 15px;
}
.nav-link:hover{
    background-color: #e59948;
    border-radius: 15px;
}
@media (max-width: 767px) {
    .navbar-brand img{
        height: 35px;
    }
}