
.serviceouterdiv{
 width: 100vw;
height: 100vh;
}
.serviced2{
  width: 100%;
  height: 10%;
  margin-top: 10%; 
  
}
.servicepageimage{
  width: 30%;
   height: 40%; 
}
.servicepagetext{
    color: black;
   
    margin-top: 8%;
    font-weight: bold;
  
}    
  

  @media (max-width: 767px) {
    
    .box1 {
      display: flex;
      justify-content: center;
      align-items: center;
     
      width: 100%;
      height: 25%;
      flex-direction: column;
      border-radius: 15px;
      border-width: 0px;
      border-style: solid;
      border-color: #d4ded8;
      overflow: hidden; 
      
      margin-top: 0;
      margin-left: 0;
      transition: height 0.3s ease-in-out; ;/* Add a transition for smooth hover effect */
    }
    .box12{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:75%;
      position:relative;
      background-color:#D4DED8;
      flex-direction:column;
      border-radius: 15px 15px 0 0;
      border-style: none;
    }
    .box13{
     
      width:100%;
      height:25%;
      background-color:#CCB454;
      font:Poppins;
      font-size:10px;
      border-radius: 0 0 15px 15px;
      transition: height 0.3s ease-in-out;
      
    }
    .servicepagetext{
      font-size:12px;
      text-align:left;
      margin-left: 5%;
    }
    /* .container{
      width:95%;
      height:50%;
      margin-top: 10%;
    } */
    .box23{
     
      width:100%;
      height:25%;
      background-color:#6CC1B6;
      font:Poppins;
      border-radius: 0 0 15px 15px;
      transition: height 0.3s ease-in-out;
    }
    .box14{
      width:92%;
     height:auto;
     font-size: 0;
      color: black;
      display: none;
   font-weight: 600;
  text-align: start;
    line-height: 12px;
    margin-left: 4%;
    padding-bottom: 10%;
   
    }
    .serviced2{
      font-weight: 10px;
      margin-left: 3%;
      margin-bottom: 20px;
    }
    
    .box1:hover  .box14{
    font-size:7px;
    
     display:block;
    }
    .box1:hover  .box12{
      height:50%; 
    }
    .box1:hover  .box13{
      height:50%;
    }
   
    .box1:hover  .box23{
      height:50%;
    }
   
    .serviceh1{
      font-size: 48px;
      margin-left: 3%;
      margin-bottom: 2%;
      text-align: start;
  font: poppins;
  color: #ffffff;
  font-weight: 700;
     }
     .serviceh2{
      font-size: 8px;
      margin-left: 3%;
      text-align: start;
      color: #C8A21C;
      font: poppins;
     }
     .row-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width:99%;
      height:80%;
    }
    .serviced1{
      display:flex;
      justify-content:space-evenly;
      width: 40%;
      height: 100%;
      position: relative;
      margin-bottom: 1%;
      margin-top:3%;
      margin-left: 0%;
      flex-direction:column;

  }
  }
  




 /* pc and laptop*/
  @media (min-width: 1024px) {
   
 .serviceh1{
  font-size: 70px;
  margin-left: 9%;
  margin-bottom: 1%;
  text-align: start;
  font: poppins;
  color: #ffffff;
  font-weight: 700;
 
 }
 .serviced2{
  margin-left: 4%;
 }
 .serviceh2{
  font-size: 10px;
  margin-left: 9%;
  text-align: start;
  color: #C8A21C;
      font: poppins;
 }
   /* .container{
      width:60%;
      height:65%;
      margin-top: 3%;
    }
    .nav{
      width:100%;
      height:12%;
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
    #navform{
      width:40%;
      height:100%;
    }
    #navimage{
      height:100%;
      width:10%;
    } */
    .row-container {
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      margin:10%;
      width:80%;
      height:90%;

    }
    .serviced1{
        display:flex;
        justify-content: space-around;
        width: 100%;
        height: 45%;
        position: relative;
        margin-bottom: 3%;
        flex-direction:row;
  
    }
   
    .box1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
   height: 100%;
  
      flex-direction: column;
      border-radius: 15px;
      border-width: 0px;
      border-style: solid;
      border-color: #d4ded8;
      overflow: hidden; 
      transition: height 0.3s ease-in-out; ;/* Add a transition for smooth hover effect */
    }
    .box12{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:75%;
      position:relative;
      background-color:#D4DED8;
      flex-direction:column;
      border-radius: 15px 15px 0 0;
      border-style: none;
    }
    .box13{
     
      width:100%;
     height:25%;
 
      background-color:#CCB454;
      font:Poppins;
      font-size:18px;
      border-radius: 0 0 15px 15px;
      transition: height 0.3s ease-in-out;
    }
    .box23{
     
      width:100%;
   height:25%;
  
      background-color:#6CC1B6;
      font:Poppins;
      font-size:18px;
      border-radius: 0 0 15px 15px;
      transition: height 0.3s ease-in-out;
    }
    .servicepagetext{
      font-size: 18px;
      text-align:left;
      margin-left: 5%;
    }
    .box14{
      width:92%;
     height:auto;
     font-size: 0;
      color: black;
      display: none;
   font-weight: 600;
  text-align: start;
    line-height: 19.5px;
    margin-left: 4%;
    padding-bottom: 20%;
    }
    
    .box1:hover  .box14{
    font-size: 60%;
   
     display:block;
    }
    .box1:hover  .box12{
      height:50%; 
    }
    .box1:hover  .box13{
      height:50%;
    }
   
    .box1:hover  .box23{
      height:50%;
    }
  
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */
   
     .serviceh1{
      font-size: 70px;
      margin-left: 9%;
      margin-bottom: 1%;
     text-align: start;
     font: poppins;
     color: #ffffff;
     font-weight: 700;
     }
     .serviceh2{
      font-size: 10px;
      margin-left: 9%;
      text-align: start;
      color: #C8A21C;
      font: poppins;
     }
     .serviced2{
      margin-left: 0%;
     }
       /* .container{
          width:60%;
          height:65%;
          margin-top: 3%;
        }
        .nav{
          width:100%;
          height:12%;
          display:flex;
          align-items: center;
          justify-content: space-between;
        }
        #navform{
          width:40%;
          height:100%;
        }
        #navimage{
          height:100%;
          width:10%;
        } */
        .row-container {
          display: flex;
          justify-content:center;
          align-items: center;
          flex-direction: column;
          margin-left:5%;
          margin-top: 10%;
          width:90%;
          height:45%;
    
        }
        .serviced1{
            display:flex;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            position: relative;
            margin-bottom: 3%;
            flex-direction:row;
      
        }
        .box1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
          height: 100%;
          flex-direction: column;
          border-radius: 15px;
          border-width: 0px;
          border-style: solid;
          border-color: #d4ded8;
          overflow: hidden; 
          transition: height 0.3s ease-in-out; ;/* Add a transition for smooth hover effect */
        }
        .box12{
          display: flex;
          justify-content: center;
          align-items: center;
          width:100%;
          height:75%;
          position:relative;
          background-color:#D4DED8;
          flex-direction:column;
          border-radius: 15px 15px 0 0;
          border-style: none;
        }
        .box13{
         
          width:100%;
          height:25%;
          background-color:#CCB454;
          font:Poppins;
          font-size:18px;
          border-radius: 0 0 15px 15px;
          transition: height 0.3s ease-in-out;
        }
        .box23{
        
          width:100%;
          height:25%;
          background-color:#6CC1B6;
          font:Poppins;
          font-size:18px;
          border-radius: 0 0 15px 15px;
          transition: height 0.3s ease-in-out;
        }
        .servicepagetext{
          font-size: 18px;
          text-align:left;
          margin-left: 5%;
        }
        .box14{
          width:92%;
         height:auto;
         font-size: 0;
          color: black;
          display: none;
       font-weight: 600;
       text-align: start;
        line-height: 19.5px;
        margin-left: 4%;
        padding-bottom: 20%;
        }
        
        .box1:hover  .box14{
        font-size: 10px;
       
         display:block;
        }
        .box1:hover  .box12{
          height:50%; 
        }
        .box1:hover  .box13{
          height:50%;
        }
       
        .box1:hover  .box23{
          height:50%;
        }
      
}