.AboutUS-Container {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    margin-top: 10%;
}
.AboutUS-Container h1{
    display: flex;
    text-align: left;
    justify-content: last baseline;
}

.about-container {
    left: 0;
    right: 0;
    margin-top: 5% !important;
}

.about-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: yellow;
    text-align: left;
}

.about-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    text-align: left;
}

.about-container img {
    width: 100%;
    height: auto;
}

.about-container .vision-heading {
    color: #C8A21C;
    font-size: 20px;
    font-weight: 200;
    line-height: 60px;
    text-align: left;
}
