/* 1. 40B5A8
2. C8A21C
3. D4DED8
4. C0CFB8
5. 000000 */

@import '~@fortawesome/fontawesome-free/css/all.css';

/* Custom Fonts */
@font-face{
  font-family: Poppins-black;
  src:url('./assets/fonts/Poppins-Black.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Poppins-bold;
  src:url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Poppins-regular;
  src:url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Poppins-semi;
  src:url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 700;
}


/* Default CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  width: 100% !important;
  scroll-padding-top: 0px;
  scrollbar-color:  #61928e #000000;
  scrollbar-width:  thin;
}

body{
  font-weight: 400;
  /* overflow-x: hidden; */
  position: relative;
  background-color: rgb(0, 0, 0) !important;
  color: azure;
  overflow-x: hidden;
  font-family:'Poppins-bold', 'Poppins-black', sans-serif, 'Poppins-regular','Poppins-bold';
  }

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  /* line-height: normal; */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
/* 
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
} */

p.success {
	color: green;
}

p.danger {
	color: red;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Assuming this is your CSS file */


