.blog{
  width: 100%;
}
.blog-container {
  margin-top: 10% !important;
  height: 100vh;
}

p {
  line-height: 100%;
}

.insights {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 55px !important;
  padding-bottom: 20px;
  width: auto;
  left: 0;
  right: 0;
}

.lorem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3cbcb1;
  font-size: 20px;
}

.content {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}

.trending {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 280px;
  gap: 30px;
  margin-left: 36.3%;
  border-radius: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: large;
}

.cl {
  background-color: #9ca3af;
  color: white !important;
}

.cla {
  background-color: #171717;
  color: white !important;
}

.cl {
  width: 120px;
  height: 65px;
  border: 6px solid black;
  border-radius: 16px;
  text-align: center;
  line-height: 50px;
  background-color: black;
}

.box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box-img {
  height: auto;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
}

.box-content {
  color: white;
  text-align: left;
}

.box-content h2 {
  color: #5aa7a0;
  text-align: left;
}

.Readmore {
  text-decoration: none;
  color: #5aa7a0;
}
.read Link{
  text-decoration: none;
  color: #9ca3af !important;
}

.readmore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page-bar {
  color: aliceblue;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 500px;
  margin: auto;
  margin-top: 80px;
  border-radius: 8.62px;
  font-size: larger;
  gap: 30px;
}

.previous,
.one,
.two,
.three,
.next {
  background-color: #171717;
}

.previous:hover,
.one:hover,
.two:hover,
.three:hover,
.next:hover {
  color: #3cbcb1;
  cursor: pointer;
}

.categories {
  font-size: 25px;
  text-align: left;
  color: white;
  margin-top: 50px;
  margin-left: 55px;
}

.boxdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxdiv2 {
  display: flex;
  gap: 20px;
  flex-direction: row !important;
  color: #9ca3af;
}
.vertical-line{
  padding: 0 10px 0 10px;
}
.short-image{
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
.heading {
  color: #3cbcb1 !important;
  font-size: 18.5px !important;
  margin-top: 12.5px;
  text-align: left !important;
}

.column-img {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 2px;
}

.columnbox {
  width: 30%;
  height: 220px;
  float: left;
  margin: 5px 15px 20px;
  flex-wrap: wrap;
}

.footericons a {
  font-size: 30px;
  margin: 0px 20px;
  color: rgb(218, 214, 214);
}

.footericons a:hover {
  color: aquamarine;
}

.footericons a:active {
  color: red;
}

.nav {
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidenav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background-color: black;
  z-index: 1000;
  transition: all 0.3s ease;
}

.sidenav.active {
  left: 0;
}

.sidenav-links {
  list-style: none;
  padding: 20px;
  flex-direction: column;
}

.sidenav-links li {
  margin-bottom: 10px;
}

.sidenav-links a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .sidenav {
    top: 0;
  }
}

.hastag-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hastag-div h2 {
  color: rgb(13, 138, 127);
  font-size: 23px;
}

@media screen and (max-width: 768px) {
  .hastag-div {
    gap: 10px;
  }
  .hastag-div h2 {
    font-size: 18px;
  }
}